.dropdown{
    position: relative;
    display: inline;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 0.7s;
}
.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover{
    background-color: #dddddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
